<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- 起别名 -->
	<typeAliases>
	<typeAlias type="com.dajingzhu.model.Tower_cranerunning_data" alias="Running_data"/>
	<typeAlias type="com.dajingzhu.model.Playback" alias="Playback"/>
	<typeAlias type="com.dajingzhu.model.Tower_craneworking_cycle" alias="Working_cycle"/>
	</typeAliases> 
 
</configuration>
 